.videoContainer {
  background-color: lightblue;
  /* height: 500px;
  width: 500px; */
}

.spinnerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .test {
  position: absolute;
  top: 50%;
  left: 50%;
} */
